<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css">

    <title>Asana Rebel Coding Challenge</title>

  </head>
  <body>
    <div class="container">
      <h1>Asana Rebel Coding Challege</h1>

      <form class="form-inline py-2">
        <div class="form-group" >
          <input type="text" class="form-control" id= "address" placeholder="Enter address">
          <button class="btn btn-default" type="submit" id="search">Search</button>
        </div>
      </form>
      <small id="invalidAddress" class="d-none text-danger px-2 pb-2">
          *Please enter a valid address
          </small>

      <div id="map" class="p-auto" style="height: 70vh; width: 70vw;"></div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB1afBnbrfwQXMzS2gi4XEm1FbNR5CFudg"></script>
    <script src="/application.js"></script>
  </body>
</html>
